<ion-list>
	<ng-container *ngIf="todoLst.length > 0; else noItems">
		<ion-item *ngFor="let task of todoLst">
			<ion-checkbox justify="start" labelPlacement="end">{{task.name}}</ion-checkbox>
			<ion-button color="danger" size="small" (click)="onDelete(task.id)">
				<ion-icon name="trash-outline"></ion-icon>
			</ion-button>
			<ion-button color="warning" size="small" (click)="edit(task)">
				<ion-icon name="create-outline"></ion-icon>
			</ion-button>
		</ion-item>
	</ng-container>
	<ng-template #noItems>
		<p>No items available.</p>
	</ng-template>
</ion-list>