<ion-grid content class="header-top">
  <ion-item>
    <ion-label>
      <h2>Total: 5</h2>
    </ion-label>
  </ion-item>
  <ion-row class="content">
    <ion-col size="6">
      <img src="https://picsum.photos/200/300" alt="Random Image">
      <p class="title">Title Abc</p>
      <p class="price">$ 30</p>
      <ion-row class="quantity-parent">
        <ion-button>-</ion-button>
        <p class="quantity">1</p>
        <ion-button>+</ion-button>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <img src="https://picsum.photos/200/300" alt="Random Image">
      <p class="title">Title Abc</p>
      <p class="price">$ 30</p>
      <ion-row class="quantity-parent">
        <ion-button>-</ion-button>
        <p class="quantity">1</p>
        <ion-button>+</ion-button>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <img src="https://picsum.photos/200/300" alt="Random Image">
      <p class="title">Title Abc</p>
      <p class="price">$ 30</p>
      <ion-row class="quantity-parent">
        <ion-button>-</ion-button>
        <p class="quantity">1</p>
        <ion-button>+</ion-button>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <img src="https://picsum.photos/200/300" alt="Random Image">
      <p class="title">Title Abc</p>
      <p class="price">$ 30</p>
      <ion-row class="quantity-parent">
        <ion-button>-</ion-button>
        <p class="quantity">1</p>
        <ion-button>+</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>