.menu-content{
    border-bottom: 1px solid black;
    padding: 5px;
    gap: 10px;
    font-size: 20px;
}
.avatar{
    height: 100px;
    width: 100px;
    background: url(../../assets/anhsyhuy.jpg) no-repeat center center / cover;
    border-radius: 50%;
    margin: 0 100px;
}