<!-- <ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<h1>Home</h1>
		</ion-title>
	</ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
	test
	  <div class="ion-page" id="main-content">
		<ion-content class="ion-padding">
			<app-list-item></app-list-item>
		</ion-content>
	  </div>
	<!-- <app-add-button (todoAdded)="add($event)" [selectedTask]="selectedTask">
	</app-add-button> -->
	
	<!-- <app-list-todo [todoLst]="todoLst" (deleteList)="onDelete($event)" (selectTask)="onSelectTask($event)">
	</app-list-todo> -->
</ion-content>